<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="images/favicon/favicon.ico"> -->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">


    <title>HCI-Research Methods</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Font awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="../../css/styles.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">HCI-Research methods</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

            <!--NAVBAR LEFT -->
            <ul class="nav navbar-nav">
                <li>
                    <a href="../../survey.html"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Survey</a>
                </li>
                <li>
                    <a href="../../umux.html"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;UMUX</a>
                </li>
                <li>
                    <a href="../../sus.html"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;SUS</a>
                </li>
                <li>
                    <a href="n../../asatlx.html"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;NASA-TLX</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    var options = <%- JSON.stringify(options) %>;s
</script>

<div class="container">
    <h3>Your answers:</h3>
    <p>The numbers shown standing for the range from 1 'Totally' to 5 'Totally not'</p>
    <p>
        <b>
            How satisfied are you with your topic to present?&nbsp;&nbsp;
        </b>
        <%= options.question_1 %>

    </p>
    <p>
        <b>
            Are you think this room is appropriate for the course of HCIRM?&nbsp;&nbsp;
        </b>
        <%= options.question_2 %>

    </p>
    <p>
        <b>
            Have you already started to work on your presentation?&nbsp;&nbsp;
        </b>
        <%if (options.question_3 == 1) { %>
        Yes
        <% } else { %>
            No
        <% } %>

    </p>
    <p>
        <b>
            HAre you already done with it?&nbsp;&nbsp;
        </b>
        <%if (options.question_4 == 1) { %>
        Yes
        <% } else { %>
            No
        <% } %>

    </p>
    <p>
        <b>
            How well do you think you are prepared for your presentation?&nbsp;&nbsp;
        </b>
        <%= options.question_5 %>

    </p>
    <p>
        <b>
            Are you aware that you can borrow a presenter in the ZDM?&nbsp;&nbsp;
        </b>
        <%if (options.question_6 == 1) { %>
        Yes
        <% } else { %>
        No
        <% } %>

    </p>
    <p>
        <b>
            Are you aware that you can borrow a HDMI-cable in the ZDM?&nbsp;&nbsp;
        </b>
        <%if (options.question_7 == 1) { %>
        Yes
        <% } else { %>
        No
        <% } %>

    </p>
    <p>
        <b>
            Age:&nbsp;&nbsp;
        </b>
        <%= options.age %>

    </p>
    <p>
        <b>
            Gender:&nbsp;&nbsp;
        </b>
        <%= options.gender %>

    </p>
    <p>
        <b>
            Semester:&nbsp;&nbsp;
        </b>
        <%= options.semester %>

    </p>
    <p>
        <b>
            Program:&nbsp;&nbsp;
        </b>
        <%= options.program %>

    </p>

    <form action="/result/survey/all">
        <input class="btn btn-primary" type="submit" value="See all results">
    </form>

</div>

<!-- Bootstrap -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="//cdn.rawgit.com/js-cookie/js-cookie/master/src/js.cookie.js"></script>
<script src="../../js/setcookie.js"></script>
</body>
</html>
